[submodule "Project/dependencies/libmediasoupclient"]
	path = Project/dependencies/libmediasoupclient
	url = https://github.com/ethand91/libmediasoupclient.git
[submodule "Project/dependencies/webrtc/src"]
  path = Project/dependencies/webrtc/src
  url = https://github.com/ethand91/webrtc-mac-src.git
